{; naked --------------------------------------------------------------------
 #{:BACKSPACE}                  :paredit/remove
 #{:DOWN}                       :move/down
 #{:ENTER}                      :paredit/insert-outside
 #{:LEFT}                       :move/left
 #{:OPEN_BRACKET}               :paredit/wrap-square
 #{:RIGHT}                      :move/right
 #{:SPACE}                      :paredit/insert-right
 #{:TAB}                        :clojure/expand-template
 #{:UP}                         :move/up

 ; CTRL, CTRL+SHIFT ---------------------------------------------------------
 #{:CTRL :OPEN_BRACKET}         :paredit/make-square
 #{:CTRL :SHIFT :NINE}          :paredit/make-round
 #{:CTRL :SHIFT :OPEN_BRACKET}  :paredit/make-curly

 ; CMD ----------------------------------------------------------------------
 #{:CMD :C}                     :clipboard/copy
 #{:CMD :V}                     :clipboard/paste
 #{:CMD :X}                     :clipboard/cut
 #{:CMD :Y}                     :history/redo
 #{:CMD :Z}                     :history/undo

 ; CMD+CTRL -----------------------------------------------------------------
 #{:CMD :CTRL :A}               :paredit/join-left
 #{:CMD :CTRL :K}               :paredit/swap-left
 #{:CMD :CTRL :L}               :paredit/swap-right
 #{:CMD :CTRL :LEFT}            :paredit/shrink-left
 #{:CMD :CTRL :NINE}            :paredit/split-left
 #{:CMD :CTRL :RIGHT}           :paredit/shrink-right
 #{:CMD :CTRL :S}               :paredit/join-right
 #{:CMD :CTRL :UP}              :paredit/splice
 #{:CMD :CTRL :ZERO}            :paredit/split-right

 ; CMD+SHIFT ----------------------------------------------------------------
 #{:CMD :SHIFT :K}              :move/prev-placeholder
 #{:CMD :SHIFT :L}              :move/next-placeholder
 #{:CMD :SHIFT :LEFT}           :paredit/grow-left
 #{:CMD :SHIFT :RIGHT}          :paredit/grow-right
 #{:CMD :SHIFT :UP}             :paredit/raise

 ; SHIFT --------------------------------------------------------------------
 #{:SHIFT :LEFT}                :move/prev
 #{:SHIFT :NINE}                :paredit/wrap-round
 #{:SHIFT :OPEN_BRACKET}        :paredit/wrap-curly
 #{:SHIFT :QUOTE}               :paredit/wrap-quote
 #{:SHIFT :RIGHT}               :move/next
 #{:SHIFT :SPACE}               :paredit/insert-left
 #{:SHIFT :THREE}               :clojure/toggle-dispatch}
