@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  border-left: 4px solid rgb(240,240,255);
  font-family: 'Source Code Pro';
  font-size: 16px;
  line-height: 1.4;
  margin-left: 5%;
  margin-top: 40px;
  padding-left: 1.5rem;
}

.coll {
  display: flex;
  flex-flow: row wrap;
}

.coll > * {
  margin-right: 0.75rem;
}

.coll > :last-child {
  margin-right: 0;
}

.coll.selected:before, .coll.selected:after, .atom.selected {
  color: rgb(255,0,255);
}

.flense > * {
  margin-bottom: 1rem;
}

.flense > .atom {
  display: block;
}

.flense > .coll.selected:before, .flense > .coll.selected:after {
  color: rgb(0,0,255);
}

.map:before { content: "{"; }
.map:after  { content: "}"; }
.seq:before { content: "("; }
.seq:after  { content: ")"; }
.vec:before { content: "["; }
.vec:after  { content: "]"; }

.string:before { content: "\""; }
.string:after  { content: "\""; }
