@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  border-left: 4px solid rgb(240,240,255);
  font-family: 'Source Code Pro';
  font-size: 16px;
  line-height: 1.4;
  margin-left: 5%;
  margin-top: 40px;
  padding-left: 1.5rem;
}

.coll {
  display: flex;
  flex-flow: row wrap;
}

.coll > * {
  margin-right: 0.75rem;
}

.coll > :last-child {
  margin-right: 0;
}

.selected,
.selected *,
.selected:before,
.selected:after {
  background: rgb(23,79,158);
  color: white;
}

input.atom {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.flense > * {
  margin-bottom: 1rem;
}

.flense > .atom {
  display: block;
}

.fn:before  { content: "#("; }
.fn:after   { content:  ")"; }
.map:before { content:  "{"; }
.map:after  { content:  "}"; }
.seq:before { content:  "("; }
.seq:after  { content:  ")"; }
.set:before { content: "#{"; }
.set:after  { content:  "}"; }
.vec:before { content:  "["; }
.vec:after  { content:  "]"; }

.fn .fn,
.fn .fn *,
.fn .fn:before,
.fn .fn:after {
  color: red;
}

#width-tester {
  left: -1000px;
  position: absolute;
  top: -1000px;
  width: auto;
}
