@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 1.4;
  margin-left: 5%;
  margin-top: 40px;
}

.editor {
  margin-bottom: 80px;
}

#cli {
  border: none;
  border-top: 1px solid #ccc;
  bottom: 0;
  font-family: inherit;
  font-size: inherit;
  left: 0;
  outline: none;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

#error-bar {
  -webkit-backface-visibility: hidden;
  background: rgb(200,0,0);
  border-bottom-left-radius: 0.25rem;
  color: white;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  top: 0;
}

#error-bar.visible {
  opacity: 1;
}

#error-bar.hidden {
  opacity: 0;
  transition: opacity 2s ease-out;
}

#error-bar:empty {
  visibility: hidden;
}
