.flense .toplevel {
  margin-bottom: 1rem;
}

.flense .atom,
.flense .stringlike {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
}

.flense .atom {
  display: inline-block;
}

.flense .completions {
  background: #eee;
  list-style: none;
  position: absolute;
  top: 1.2rem;
  z-index: 100;
}

.flense .completion {
  padding: 0 0.25rem;
}

.flense .completion.selected {
  background: #ccc;
}

.flense .stringlike {
  margin-top: -0.3rem;
  resize: none;
  top: 0.3rem;
}

.flense .delimiter.string,
.flense .delimiter.regex {
  vertical-align: top;
}

.flense .spacer {
  white-space: pre;
}
