.flense .toplevel {
  margin-bottom: 1rem;
}

.flense .atom,
.flense .stringlike {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

.flense .stringlike {
  margin-top: -0.3rem;
  position: relative;
  resize: none;
  top: 0.3rem;
}

.flense .delimiter.string,
.flense .delimiter.regex {
  vertical-align: top;
}

.flense .spacer {
  white-space: pre;
}
