.editor .form {
  margin-bottom: 1rem;
}

.editor .atom,
.editor .stringlike textarea {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  resize: none;
}

.editor .stringlike {
  display: inline-block;
  line-height: 0;
  vertical-align: top;
}

.editor .stringlike::before,
.editor .stringlike::after {
  line-height: 1;
  vertical-align: top;
}

.editor .regex::before  { content: "#\""; }
.editor .regex::after   { content:  "\""; }
.editor .string::before { content:  "\""; }
.editor .string::after  { content:  "\""; }

.editor .spacer {
  white-space: pre;
}
