.selected  {
  background: rgb(170,203,249);
}

.keyword {
  color: rgb(198,115,91);
}

.stringlike textarea {
  color: rgb(21,144,155);
}

/*.seq > .symbol:first-child {
  color: rgb(119,39,6);
  font-weight: bold;
}*/
