.flense {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 1.4;
}

.flense .selected,
.flense .selected.stringlike:not(.editing)::before,
.flense .selected.stringlike:not(.editing)::after,
.flense .selected.stringlike.editing textarea {
  background: rgb(170,203,249);
}

.flense .keyword {
  color: rgb(198,115,91);
}

.flense .stringlike textarea {
  color: rgb(21,144,155);
}

.flense .symbol.head {
  color: rgb(119,39,6);
  font-weight: bold;
}

.flense .delimiter,
.flense .stringlike::before,
.flense .stringlike::after {
  color: #777;
}
